@tailwind base;
@tailwind components;
@tailwind utilities;

.static-logo {
    position: fixed;
    transform: rotate(270deg);
    top: 70vh;
    left: -30px;
}

.accordion-content {
    display: none;
}
.accordion-content.open {
    display: block;
}